body {
    font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
    width: 70%;
    margin: 0 auto;
}

#header h1 {
    text-align: center;
}

.section {
    padding: 20px;
}

.mono {
    font-family: 'Courier New', Courier, monospace;
}